!!! 5
%html
  %head
    %title Ruby User Group - Berlin
    = stylesheets
  %body
    %h1 <em>R</em>uby <em>User</em> <em>G</em>roup - Berlin
    .sidebar
      %h2= link '::Meetings', '/meetings'
      %h2 ::Feed
      %h2 ::Tweets
    .main= yield